{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h2>Задача {{ exercise.number }}</h2>
        </div>
        <div class="row">
            {% autoescape off %}
                {{ exercise.description }}
            {% endautoescape %}
        </div>
        {% if exercise.file %}
            <a href="{{ exercise.file.url }}">Файл</a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <form action=""  method="POST" id="form">
                {% csrf_token %}
                <div class="mb-3">
                    <input name="answer" type="text" class="form-control" placeholder="Введите ответ" id="correctAnswer" aria-describedby="answerHelp">
                </div>
                <div class="float-end">
                    <button type="submit" class="btn btn-success">Ответить</button>&nbsp
                    <a href="{{ exercise.theme.get_absolute_url }}" class="btn btn-dark" role="button">К задачам</a>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="alert alert-success text-center" hidden role="alert" id="alert-success">
                Ответ верный. Молодец!
            </div>
            <div class="alert alert-danger text-center" hidden role="alert" id="alert-danger">
                Ответ неверный. Попробуй еще раз.
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script>
        $('#form').submit(function(){
            $.post(
                {% url "answer_check" %}, // адрес обработчика
                $("#form").serialize() + '&exercise_id={{ exercise.pk }}', // отправляемые данные
                function(msg) { // получен ответ сервера
                    if (typeof msg.successful !== 'undefined') {
                        if (typeof msg.successful === 'boolean') {
                            $('#alert-success').attr('hidden', !msg.successful);
                            $('#alert-danger').attr('hidden', msg.successful);
                        }
                    }
                }
            );
            return false;
        });
    </script>
{% endblock script %}