{% extends 'base.html' %}

{% block content %}
    {{ theme.name }} <br>
    {{ theme.solution_example }}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Задача</th>
            <th scope="col">Условие</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for exercise in exercises %}
            <tr>
                <td>Задача №{{ exercise.number }}</td>
                <td>{{ exercise.description }}</td>
                <td><a href="{{ exercise.get_absolute_url }}" class="btn btn-primary" role="button">Решить</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock content %}