{% extends 'base.html' %}

{% block content %}
    <br>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Задача</th>
            <th scope="col">Условие</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for theme in theme_list %}
            <tr>
                <td>{{ theme.name}}</td>
                <td><a href="{{ theme.get_absolute_url }}">{{ theme.description }}</a></td>
                <td></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock content %}