{% extends 'base.html' %}

{% block content %}
    <br>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">Задача</th>
            <th scope="col">Условие</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for exercise in exercises %}
            <tr>
                <td>Задача №{{ exercise.number }}</td>
                <td>
                    {{ exercise.short_description|default:'' }}...
                </td>
                <td><a href="{{ exercise.get_absolute_url }}" class="btn btn-dark" role="button">Решить</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock content %}